.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  min-height: 80vh;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(5px);
  margin-top: 0.5rem;
      border: 1px solid black;
}