.city-card {
  position: relative;
  width: 30%;
  height: 15rem;
  border-radius: 10px;
  background-position: center;
  text-decoration: none;
  margin: 1rem 0;
  border:2px #009eff solid;

  @media screen and (max-width: 1200px) {
    width: 45%;
  }

  @media screen and (max-width: 700px) {
    width: 80%;
}

  &__name {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    background-color: rgba(59, 59, 59, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: font-size ease-in-out 0.5s;
  }

  &:hover {
    cursor: pointer;

    .city-card__name {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 1700px) {
    .city-card__name {
       font-size: 25px;

       &:hover{
        font-size: 30px!important;
        color: rgb(0, 252, 197);
        font-weight: bold;
       }
    }
}

@media screen and (max-width: 700px) {
    .city-card__name {
       font-size: 20px;

       &:hover{
        font-size: 22px!important;
       }
    }
}