@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nosifer&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Permanent+Marker&family=Rubik+Scribble&display=swap');

.city-card {
  position: relative;
  width: 30%;
  height: 15rem;
  border-radius: 5px;
  background-position: center;
  text-decoration: none;
  margin: 1rem 0;
      border: 1px solid black;

  @media screen and (max-width: 1200px) {
    width: 45%;
  }

  @media screen and (max-width: 700px) {
    width: 80%;
}

  &__name {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    color: rgb(241, 241, 241);
    text-transform: capitalize;
    background-color: rgba(59, 59, 59, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: font-size ease-in-out 0.5s;
  }

  &:hover {
    cursor: pointer;

    .city-card__name {
        font-family: 'Rubik Scribble', system-ui;
        font-weight: bold;
        color: white;
    }
  }
}

@media screen and (max-width: 1700px) {
    .city-card__name {
       font-size: 25px;

       &:hover{
        font-size: 30px!important;
        color: rgb(255, 255, 255);
        font-weight: bold;
       }
    }
}

@media screen and (max-width: 700px) {
    .city-card__name {
       font-size: 20px;

       &:hover{
        font-size: 22px!important;
       }
    }
}