.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  min-height: 80vh;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.59);
  backdrop-filter: blur(5px);
  margin-top: 0.5rem;
}