.train-station {
    width: 80%;
    margin: auto;
}

.directions {
    width: 100%;

    &__departures,
    &__arrivals {
        width: 50%;
        font-family: inherit;
        padding: 0.5rem 0rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 35px 35px 0 0;
    }

    &__departures {
        background-color: #123a9f;
        color: white;
        border-bottom: 1px solid white;

        &:hover {
            cursor: pointer;
        }

        &--active {
            background-color: #123a9f;
            border-bottom: 1px solid white;
        }
    }

    &__arrivals {
        background-color: #28893a;
        color: white;
        border-bottom: 1px solid white;

        &:hover {
            cursor: pointer;
        }

        &--active {
            background-color: #28893a;
        }
    }
}