.city {
    padding: 3rem;
    background: #020202;

    @media screen and (max-width: 600px) {
        padding: 3rem 0;
    }

    &__name {
        color: #020202;
        margin: 0 auto;
        text-align: center;
        border: 5px solid #8DE8FE;
        border-radius: .5rem;
        background: white;
        max-width: 500px;
        font-size: 3rem;
        text-transform: capitalize;

        @media screen and (max-width: 600px) {
            margin: 1rem;
            font-size: 2rem;
            margin-top: 2rem;
        }
    }
}