.App{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content-wrapper {
   width: 80%;
    margin-top: 5rem;
    border-radius: 10px;
  }
  &__content-title{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
  }
  &__link{
    position: absolute;
    top: 0;
    right:0;
    margin-top: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    color: black;
    background: white;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: .5rem;
    border: 3px solid #8DE8FE;
    font-size: 1.2rem;

    @media screen and (max-width: 600px) {
        font-size: 1rem;
        padding: .5rem;
    }
  }
}

.animation{
   margin-top: -5rem !important;
}

.header{
    height: 120px;
}
.QR-code{
  position: absolute;
  height: 80px;
  width: 80px;
  top: 5rem;
  right:2rem;
}
.description-QR{
    position: absolute;
    right: 1rem;
    font-size: 20px;
    font-weight: bold;
    top: 2rem;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}
.pagination a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0.5rem;
    color: white;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow:4px 4px 3px -3px grey;
}
.pagination a.active{
    background: rgb(115, 115, 115);
}
.pagination a:hover{
    background: rgb(39, 39, 39);
}

.input-search{
    width: 97%;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    padding: 1rem;
    font-weight: bold;
    color: grey;
    background-color: rgb(35, 35, 35);
}


.input-search:focus{
    outline: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    bottom: 0;
    height: 100px;
    background: black;
}

.footer p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-top: 1rem;
}

.footer span{
    color:brown;
}

@media (max-width:990px){
    .home__content-title{
        font-size: 1.5rem;
    }
}

@media (max-width:695px){
    .input-search{
        width: 90%;
    }
    .pagination a{
        font-size: 10px;
        font-weight: bold;
        margin: 0.5rem;
        width: 30px;
        height: 30px;
        box-shadow:4px 4px 3px -3px grey;
    }
}

@media (max-width:500px){
    .QR-code{
        height: 50px;
        width: 50px;
        top: 2rem;
        left: 2rem;
      }
      .description-QR{
        position: absolute;
        left: 1rem;
        font-size: 14px;
        font-weight: bold;
        top: 0.2rem;
    }
    .pagination a{
        font-size: 8px;
        font-weight: bold;
        margin: 0.5rem;
        width: 25px;
        height: 25px;
        box-shadow:4px 4px 3px -3px grey;
    }
    
      .input-search{
        width: 85%;
    }
    .home__content-title{
        font-size: 1.2rem;
    }
    .animation{
        height: 300px !important;
        width: 300px !important;
        margin-top: -5rem !important;
    }
    .home__content-title{
        margin-top: -3rem;
    }
    .footer p{
        font-size: .8rem;
    }
}