.App{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content-wrapper {
   width: 80%;
    margin-top: 5rem;
    border-radius: 10px;
  }
  &__content-title{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
  }
  &__link{
    position: absolute;
    top: 0;
    right:0;
    margin-top: 1rem;
    margin-right: 1rem;
    color: black;
    background: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: .5rem;
    border: 5px solid #8DE8FE;
    font-size: 1.2rem;

    @media screen and (max-width: 600px) {
        font-size: 1rem;
        padding: .5rem;
    }
  }
}

.animation{
   margin-top: -5rem !important;
}

.header{
    height: 120px;
}

.input-search{
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    padding: 1rem;
    font-weight: bold;
    color: grey;
    background-color: rgb(35, 35, 35);
}


.input-search:focus{
    outline: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    bottom: 0;
    height: 100px;
    background: black;
}

.footer p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-top: 1rem;
}

.footer span{
    color:brown;
}

@media (max-width:990px){
    .home__content-title{
        font-size: 1.5rem;
    }
}

@media (max-width:500px){
    .home__content-title{
        font-size: 1.2rem;
    }
    .animation{
        height: 300px !important;
        width: 300px !important;
        margin-top: -5rem !important;
    }
    .home__content-title{
        margin-top: -3rem;
    }
    .footer p{
        font-size: .8rem;
    }
}