.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__content-wrapper {
   width: 80%;
    margin-top: 5rem;
    border-radius: 10px;
    height: 80vh;
    background: #324d7a;
    box-shadow: 3px 8px 15px -3px #b1b4b9 ;
  }
  &__content-title{
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    top:0;
    width: 100%;
    text-align: center;
    height: 5rem;
    padding-top: 1rem;
    background: #324d7a;
    border-bottom: 2px solid white;
    color: white;
    box-shadow: 3px 8px 15px -3px #b1b4b9 ;
  }
  &__link{
    position: absolute;
    top: 0;
    margin-top: 5rem;
    color: black;
    background: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: .5rem;
    border: 5px solid #8DE8FE;
    font-size: 1.2rem;
  }
}

@media (max-width:990px){
    .home__content-title{
        font-size: 1.5rem;
    }
}

@media (max-width:500px){
    .home__content-title{
        font-size: 1.2rem;
    }
}