@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Nosifer&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Permanent+Marker&family=Rubik+Scribble&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: linear-gradient(90deg, #788fa6 0%, #232323 100%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #a8acb0;
}

::-webkit-scrollbar-thumb {
  background: #009eff;
  border-radius: 10px;
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 5rem;
  border-radius: 10px;
}
.home__content-title {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  margin-top: 1rem;
  color: #009eff;
}
.home__link {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  color: black;
  background: white;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 3px solid #8DE8FE;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .home__link {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.animation {
  margin-top: -5rem !important;
}

.header {
  height: 120px;
}

.QR-code {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 5rem;
  right: 2rem;
}

.description-QR {
  position: absolute;
  right: 2rem;
  font-size: 20px;
  font-weight: bold;
  top: 1rem;
  color: #009eff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  width: 99%;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0.5rem;
  color: #009eff;
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 4px 4px 3px -3px grey;
}

.pagination a.active {
  background: rgb(115, 115, 115);
  color: white;
}

.pagination a:hover {
  background: rgb(39, 39, 39);
}

.input-search {
  margin-left: 1rem;
  border-radius: 20px;
  border: 2px solid #009eff; /* Ajout de la bordure */
  font-size: 18px;
  padding: 1rem;
  font-weight: bold;
  color: grey;
  z-index: 2;
  background-color: rgb(35, 35, 35);
}

.input-search:focus {
  outline: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  bottom: 0;
  height: 100px;
  background: black;
}

.footer-links {
  display: flex;
  align-items: center;
}

.link1 {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}

.link1:hover,
.link2:hover {
  filter: invert(20%);
}

.link2 {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
}

.footer p {
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.footer p {
  color: #009eff;
}

.footer span {
  font-size: 25px;
}

@media (max-width: 990px) {
  .home__content-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 695px) {
  .pagination a {
    font-size: 16px;
    font-weight: bold;
    margin: 0.5rem;
    width: 30px;
    height: 30px;
    box-shadow: 4px 4px 3px -3px grey;
  }
}
@media (max-width: 500px) {
  .QR-code {
    height: 50px;
    width: 50px;
    top: 3rem;
    left: 2rem;
  }
  .description-QR {
    position: absolute;
    left: 2rem;
    font-size: 14px;
    font-weight: bold;
    top: 0.2rem;
    color: #fd9a00;
  }
  .pagination {
    width: 105%;
  }
  .pagination a {
    font-size: 13px;
    font-weight: bold;
    margin: 0.2rem;
    width: 20px;
    height: 25px;
    box-shadow: 4px 4px 3px -3px grey;
  }
  .home__content-title {
    font-size: 1.2rem;
  }
  .animation {
    height: 300px !important;
    width: 300px !important;
    margin-top: -5rem !important;
  }
  .home__content-title {
    margin-top: -3rem;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
.city {
  padding: 3rem;
  background: #020202;
}
@media screen and (max-width: 600px) {
  .city {
    padding: 3rem 0;
  }
}
.city__name {
  color: #020202;
  margin: 0 auto;
  text-align: center;
  border: 5px solid #8DE8FE;
  border-radius: 0.5rem;
  background: white;
  max-width: 500px;
  font-size: 3rem;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .city__name {
    margin: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  min-height: 80vh;
  border-radius: 10px;
}

.city-card {
  position: relative;
  width: 30%;
  height: 15rem;
  border-radius: 10px;
  background-position: center;
  text-decoration: none;
  margin: 1rem 0;
  border: 2px #009eff solid;
}
@media screen and (max-width: 1200px) {
  .city-card {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .city-card {
    width: 80%;
  }
}
.city-card__name {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
  background-color: rgba(59, 59, 59, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: font-size ease-in-out 0.5s;
}
.city-card:hover {
  cursor: pointer;
}
.city-card:hover .city-card__name {
  font-family: "Rubik Scribble", system-ui;
}

@media screen and (max-width: 1700px) {
  .city-card__name {
    font-size: 25px;
  }
  .city-card__name:hover {
    font-size: 30px !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  .city-card__name {
    font-size: 20px;
  }
  .city-card__name:hover {
    font-size: 22px !important;
  }
}
.departure {
  background-color: #123a9f;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 6fr 1fr;
  color: white;
  font-size: 1.5rem;
}
.departure .departure_destination {
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .departure {
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 750px) {
  .departure {
    font-size: 1rem;
  }
}
.departure--light {
  background-color: #0363f4;
}
.departure__operator {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.departure__train-type {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 0.8rem;
}
@media screen and (max-width: 750px) {
  .departure__train-type {
    font-size: 0.6rem;
  }
}
.departure__train-number {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 0.8rem;
}
@media screen and (max-width: 750px) {
  .departure__train-number {
    font-size: 0.6rem;
  }
}
.departure__time {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  color: #E1E929;
  font-weight: 700;
}
.departure__time--disappear {
  display: none;
}
.departure__delay {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .departure__delay {
    font-size: 1rem;
  }
}
.departure__delay--disappear {
  display: none;
}
.departure__destination {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-weight: 700;
}
.departure__stops {
  white-space: nowrap;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  overflow: hidden;
}
.departure__stops li {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 750px) {
  .departure__stops li {
    font-size: 1rem;
  }
}
.departure__stops li img {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.arrival {
  background-color: #017142;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 6fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  color: white;
  font-size: 1.5rem;
}
@media screen and (max-width: 850px) {
  .arrival {
    grid-template-columns: 1fr 3fr 3fr 4fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  .arrival {
    font-size: 1rem;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  }
}
.arrival--light {
  background-color: #00a254;
}
.arrival__operator {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.arrival__train-type {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 0.8rem;
}
.arrival__train-number {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 0.8rem;
}
.arrival__time {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  color: #E1E929;
  font-weight: 700;
}
.arrival__time--disappear {
  display: none;
}
.arrival__delay {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .arrival__delay {
    font-size: 1rem;
  }
}
.arrival__delay--disappear {
  display: none;
}
.arrival__origin {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-weight: bold;
  margin-left: 1rem;
}
.arrival__stops {
  white-space: nowrap;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  overflow: hidden;
}
.arrival__stops li {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.arrival__stops li img {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.train-stations {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto;
}
@media screen and (max-width: 900px) {
  .train-stations {
    flex-direction: column;
    width: 40%;
  }
}
@media screen and (max-width: 650px) {
  .train-stations {
    width: 80%;
  }
}
.train-stations__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0C131F;
  font-weight: bold;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 1rem 2rem;
}
@media screen and (max-width: 900px) {
  .train-stations__link {
    margin-top: 1rem;
  }
}
.train-stations__link:hover {
  cursor: pointer;
}
.train-stations__link:hover span:after {
  width: 100%;
  opacity: 1;
}
.train-stations__link--active {
  border: 5px solid #8DE8FE;
  color: black;
}
.train-stations__link span {
  transition: all 0.5s ease-in-out;
  position: relative;
}
.train-stations__link span:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 5px;
  width: 0px;
  background-color: #8DE8FE;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.train-station {
  width: 80%;
  margin: auto;
}

.directions {
  width: 100%;
}
.directions__departures, .directions__arrivals {
  width: 50%;
  font-family: inherit;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 35px 35px 0 0;
}
.directions__departures {
  background-color: #123a9f;
  color: white;
}
.directions__departures:hover {
  cursor: pointer;
}
.directions__departures--active {
  background-color: #123a9f;
  border-bottom: 1px solid white;
}
.directions__arrivals {
  background-color: #28893a;
  color: white;
  border-bottom: 1px solid white;
}
.directions__arrivals:hover {
  cursor: pointer;
}
.directions__arrivals--active {
  background-color: #28893a;
}

.stops {
  display: flex;
  align-items: center;
  animation: scrollText 25s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}/*# sourceMappingURL=index.css.map */